#carousel {
    display: flex;
    justify-content: center;
}

#carousel > input {
    
}


#img-container {
    display: flex;
    justify-content: center;
}

#slider {
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 250px;
    width: 250px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}

#mask {
    display: flex;
    justify-content: center;
    height: 250px;
    overflow: hidden;
}

 #img-container .first {
    animation: first 1s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}

#img-container .second {
    animation: second 1s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}

#img-container .third {
    animation: third 1s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}

#img-container .fourth {
    animation: fourth 1s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}

#img-container .fifth {
    animation: fifth 1s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}

@keyframes first {
    from { transform: translateX(0px); }
    to { transform: translateX(500px); }
}

@keyframes second {
    from { transform: translateX(500px); }
    to { transform: translateX(250px); }
}

@keyframes third {
    from { transform: translateX(250px); }
    to { transform: translateX(0px); }
}

@keyframes fourth {
    from { transform: translateX(0px); }
    to { transform: translateX(-250px); }
}

@keyframes fifth {
    from { transform: translateX(-250px); }
    to { transform: translateX(-500px); }
}